@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: white;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.card1 {
    position: absolute;
    left: -30%;
    z-index: -1;
}
h3 {
    font-weight: bolder;
}
.forms {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.block1{
    background-color: darkred;
    width: 30%;
    height: 60vh;
    color: white;
    position: relative;
    overflow: visible;
    font-weight: bolder;
}

.details {
    width: 20%;
    margin-left: 40%;
}

.checks {
    display: flex;
    flex-direction: column;
}

.notify {
    background-color: darkred;
    width: 30%;
    height: 30vh;
    color: white;
    margin-top: 2%;
    border-radius: 3%;
    font-weight: bolder;
}
.results {
    font-size: x-large;
    font-weight: bolder;
}

/* footer styling */
.footer {
    margin-top: 5%;
}