.form_bg{
    background-image: url("./image/garage.png");
    height: 100%;
    display: flex;
    align-items: center;
}

.forn_horizontal1{
    font-family: sans-serif;
    text-align: center;
}

.form_horizontal1 .form_icon{
    color: black;
    font-size: 100px;
    line-height: 80px;
    margin: 0 0 14px;

}
