.form_bg{
    background-image: url("./image/garage.png");
    height: 100%;
    display: flex;
    align-items: center;

}
img{
    height: auto;
}

.form_horizontal{
    font-family: 'lato', sans-serif;
    text-align: center;

}