body{
    background-image: url("./images/landing3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 60px;
    margin-top: 20px;
    text-transform:uppercase;
    font-weight:600;
    
    text-align:center;

    color:white;
    font-family:poppins;
}
.nav{
    float: right;
    align-items: center;
    list-style-type: none;
    background-color:black;
    width: 97%;
    transition: 0.5s;
    padding: 15px;
    margin-top: 15px;
}
.nav ul{
    display: inline-block;
    display:flex;
    align-items:center;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    padding: 5px;
    align-items: center;
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    transition: 0.5s;
    background-color: rgb(95, 177, 166);
    color:black;
}
/* p{
    font-size: 20px;
    color: white;
    align-items:center;
    text-align:center;
} */
/* brief{
    display: flex;
    flex-direction: row;
    height:100vh;
    align-i.tems:center;
} */
.images{
    margin: bottom 15px;
    margin-top:10px;
}

footer{
    background-color:black;
    padding: 25px;
    width: 100%;
    margin-bottom: 15px;
    color:white;
    text-align:center;
    align-items:center;
   
}

   