@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image {
    background-image: url("../servicesImages/garage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.mask {
    height: 100vh;
}

.text-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.bg-image h1 {
    text-align: center;
    color: red;
    padding-top: 100px;
    font-size: 40px;
}

.bg-image p {
    width: 60%;
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: whitesmoke;
}

.btn {
    padding: 20px;
    margin: 10PX;
    border-radius: 10px;
    border: none;
    color: rgb(228, 7, 99);

}

.btn :hover {
    background-color: black;
}

.what-we-do{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 30px;
}

.services{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150PX;
}

.col{
    width: 25%;
}

.col p{
    /* display: none; */
    text-align: center;
    font-size: 15px;
}

.what h2{
    text-align: center;
    color: red;
    padding: 20px;
}

.col h5{
    color: black;
}

.card1, 
.card2, 
.card3, 
.card4, 
.card5, 
.card6 {
    padding: 0 10px;
    margin: 20px;
}